<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
      <li><%= link_to "New", new_post_path,class: 'post' %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete  %></li>
      <% else %>
      <li><%= link_to "Sign in", new_user_session_path,class: 'post' %></li>
      <li><%= link_to "Sign up", new_user_registration_path,class: 'post' %><a href="badges.html">Sign up</a></li>
      <% end %>
    </ul>
  </div>
</nav>

  <div class="col s12 m7">
  <% @posts.each do |post|%>
    <h3 class="header">
      <%= post.name%>
    </h3>
    <div class="card horizontal">
      <div class="card-image">
        <img src=<%= post.image %>>
      </div>
      <div class="card-stacked">
        <div class="card-content">

            <%= post.text%>
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          
          <%if user_signed_in? && current_user.id == post.user_id %>
          <ul class="more_list">
            <li>
          <%= link_to '削除', "/posts/#{post.id}", method: :delete %>
            </li>
          </ul>
          <% end %>


        </div>
      </div>
    </div>
    <% end %>
    <%= paginate(@posts) %>
  </div>

