<!DOCTYPE html>
<html>
  <head>
    <title>MiniApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  </head>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Logo</a>
          <%= link_to "Logo", root_path,class: 'brand-logo' %>          

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
            <li><%= link_to "New", new_post_path,class: 'post' %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete  %></li>
            <% else %>
            <li><%= link_to "Sign in", new_user_session_path,class: 'post' %></li>
            <li><%= link_to "Sign up", new_user_registration_path,class: 'post' %><a href="badges.html">Sign up</a></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>